
{% extends 'base.html' %}

{% block title %}
Detail Post
{% endblock %}

{% block content %}
<h1>{{post}}</h1>
<img src="{{author.profile_picture.url}}" alt="ProfilePic">
<h4>{{author.name}}</h4>
<img class = "postPreview" src="{{post.image.url}}" alt="PostPic">
<a href="{% url 'city_detail' post.city.id %}"><h3>City: {{post.city}}</h3></a>
<p>Description: {{post.content}}</p>
<p>Date: {{post.date}}</p>
{% if modifiable %}
<a href="{% url 'post_delete' post.id %}" class="btn">Delete</a>
<a href="{% url 'post_edit' post.id %}" class="btn">Edit</a>
{% endif %}

<button data-target="modal1" class="btn modal-trigger">Delete</button>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Warning!</h4>
        <p>You are about to delete this post! Would you like to continue?</p>
    </div>
        <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a href="{% url 'post_delete' post.id %}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
    </div>
</div>

<a href="{% url 'post_edit' post.id %}" class="btn">Edit</a>


<script>

$(document).ready(function(){
    $('.modal').modal();
    $('.materialbox').materialbox();
});

</script>

{% endblock %}
