{% extends 'base.html' %}

{% block title %}
New Post
{% endblock %}

{% block content %}
{% if error_message %}
    <p class="red">{{error_message}}</p>
{% endif %}
<div class = "formBox">
    {% if city %}
        <h1>{{city}} Post</h1>
    {% else %}
        <h1>New Post</h1>
    {% endif %}
    {% if city %}
        <form action="{% url 'add_post_inside_city' city.id%}" enctype="multipart/form-data" method = "POST">
    {%else %}
        <form action="{% url 'add_post'%}" enctype="multipart/form-data" method = "POST">
    {% endif %}
        {% csrf_token %}
        {{post_form.as_p}}
        <a href="{% url 'map_view'%}">Can't Find Your City</a>
        <br>
        <button class="btn" type="submit">Create New Post</button>
        </form>
</div>



{% if city %}
<script>
    const selectEl = document.getElementById('id_city');
    var labelElements = selectEl.labels;
    labelElements[0].style.display = "none"
    selectEl.style.display = "none"

</script>
{% else %}
<script>
    const selectEl = document.getElementById('id_city');
    M.FormSelect.init(id_city);
</script>
{% endif %}
<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    }); 
</script>
    
{% endblock %}