:root {
    --dark: rgb(1,30,62);
    --light: rbg(0,255,113);
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.nav-wrapper {
    color: var(--light);
    background-color: var(--dark);
}
main {
    flex: 1 0 auto;
    color: var(--dark);
}

.small-img{
    width:100px;
    height: 100px;
}

.small-img img{
    width:50%;
    height: auto
}

.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: var(--dark);
}

.carousel.carousel-slider{
    height: 500px ;
}

.profileSection{
    display: flex;
    background-color: var(--light);
    justify-content: space-around;
    align-items: center;
}
.profilePicture{
    width: 10em;
    height: 10em;
    border-radius: 50%;
}
.profileName{
    display:inline-block; 
}

.profileMain {
    display: flex;
    flex-direction: column;
}

.lowerHomeSection{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

.card{
    width: 25em;
}

.PostSection{
    display: flex;
    flex-direction: column;
}

.allPost{
    display: flex;
    padding: 0px 2em;
}

.postPreview{
    width: 100%;
    height: auto;
}

.allPost .card{
    margin: 1em 1.5em;
}

.profileMain .right{
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 42em;
}


