{% extends 'base.html' %}
{% load static %}


{% block title %}

{% endblock %}

{% block content %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfSq-RTIlRibfDmiBPkJNY5gb4owcUcEY&callback=initMap&libraries=&v=weekly" defer ></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <h1>Map</h1>

    <div id="map"></div>

<script>
    function initMap() {

        const myLatlng = { lat:34.02215436424429, lng: -118.16701128750844 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 10,
          center: myLatlng,
        });
      
        let infoWindow = new google.maps.InfoWindow({
          content: "Click the map to get City Name",
          position: myLatlng,
        });
        
        infoWindow.open(map);
      
        map.addListener("click", (mapsMouseEvent) => {
          // Close the current InfoWindow.
          infoWindow.close();
      
          // Create a new InfoWindow.
          infoWindow = new google.maps.InfoWindow({
            position: mapsMouseEvent.latLng,
          });
          
          lat= mapsMouseEvent.latLng.toJSON().lat
          lng= mapsMouseEvent.latLng.toJSON().lng
          console.log("Lateral: "+ lat);
          console.log("Longetude: "+ lng);
          
          url = `https://maps.googleapis.com/maps/api/geocode/json?latlng=${lat},${lng}&key=AIzaSyAfSq-RTIlRibfDmiBPkJNY5gb4owcUcEY`
          $.getJSON(url,(result)=>{
            for(let j = 0 ; j < result.results[0].address_components.length; j++){
              arrTypes = result.results[0].address_components[j].types
              if(arrTypes.includes("locality") ){
                let cityName = result.results[0].address_components[j].long_name
                infoWindow.setContent(cityName);
                let jsonURL = `https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=${cityName}&inputtype=textquery&fields=photos,formatted_address,name,rating,opening_hours,geometry&key=AIzaSyAfSq-RTIlRibfDmiBPkJNY5gb4owcUcEY`
                $.getJSON(jsonURL,(result1)=>{
                    var myURL = "{% url 'add_city' %}"; 
                    console.log(result1.candidates[0].photos[0].photo_reference);
                    photo_ref = result1.candidates[0].photos[0].photo_reference;
                    photoURL = `https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=${photo_ref}&key=AIzaSyAfSq-RTIlRibfDmiBPkJNY5gb4owcUcEY`
                    console.log(photoURL);
                    const myData = {"url":photoURL};
                    $.post('https://www.google.com',myData, (myData, status)=>{
                      console.log(status)
                    });
                });
                console.log(jsonURL)
              }
            }
          });
          infoWindow.open(map);
        });
      }
</script>
<script src="{% static 'javascript/map.js' %}"></script>


{% endblock %}


