{% extends 'base.html' %}

{% block title %}
Detail City
{% endblock %}

{% block content %}
<h1>City: {{city}}</h1>
<img class = "postPreview" src="{{city.image.url}}" alt="PostPic">
<h2>Country: {{city.country}}</h2>
<a href="{% url 'add_post'%}" class = "btn">Add new Post</a>
<section class = "PostSection">
    <div class = "allPost">
        {% for post in posts %}
        <a href="{%url 'post_detail' post.id%}">
        <div class="card large">
            <h4>{{post}}</h4>
            <img class = "postPreview" src="{{post.image.url}}" alt="PostPic">
            <p>{{post.content}}</p>
        </div>
        </a>
        {% endfor%}
    </div>
   
</section>

{% endblock %}