{% extends 'base.html' %}

{% block title %}
City Index
{% endblock %}


{% block content%}
         <div class="container">
            <div class="row">
                <div class="col card s5">
                {% for city in cities %}                      
                            <a href={%url 'city_detail' city.id %}><img class = "materialbox responsive-img card" src="{{city.image.url}}" alt="{{city.name}}" width="65%"/>
                            {{city.name}}
                        </a>
                {% endfor %}
                </div>
            </div>
        </div>  

<script>
    $(document).ready(function(){
        $('.modal').modal();
        $('.materialbox').materialbox();
    });
</script>
{% endblock%}   
