{% extends 'base.html' %}

{% block title %}
City Index
{% endblock %}


{% block content%}
         <div class="container">
            <div class="row">
            {% for city in cities %}
                    <a href="{%url 'city_detail' city.id %}">
                        <div class="col card s5">
                        {% if city.image %}
                            <img class = "materialbox responsive-img card" src="{{city.image.url}}" alt="{{city.name}}" width="65%"/>
                        {% else %}
                            <img class = "materialbox responsive-img card" src="{{city.image_url}}" alt="{{city.name}}" width="65%"/>
                        {% endif %}
                        {{city.name}}
                    </div>
                    </a>
            {% endfor %}
            </div>
        </div>  

<script>
    $(document).ready(function(){
        $('.modal').modal();
        $('.materialbox').materialbox();
    });
</script>
{% endblock%}   
