{% extends 'base.html' %}

{% block title %}
Your Profile
{% endblock %}

{% block content %}
<div class = "profileMain">
    <section class = "profileSection">
        <div class="profile-column-one">
            <img class = "profilePicture" src="{{profile.profile_picture.url}}" alt="ProfilePic">
        </div>
        <div class="profile-section-two">
            <h3 class = "profileName">{{profile.name}}</h3>
            <h4 class="profile-h4">Current City: {{profile.current_city}}</h4>
            <h4 class="profile-h4">Member since: {{current_user.date_joined}}</h4>
            <a href="{% url 'add_post'%}" class = "profile-buttons btn">Add new Post</a>
            <a href="{% url 'edit_profile' profile.id %}" class = "profile-buttons btn">Edit Profile</a>
        </div>
    </section>
    <section class = "PostSection">
        <h2 class="profiles-posts">{{profile.name}}'s Posts</h1>
        <div class = "allPost">
            {% for post in posts %}
            <a href="{%url 'post_detail' post.id%}">
            <div class="card large">
                <h4>{{post}}</h4>
                <img class = "postPreview" src="{{post.image.url}}" alt="PostPic">
                <p>{{post.content}}</p>
            </div>
            </a>
            {% endfor %}
        </div>

    </section>
    
</div>

{% endblock %}

name, the current city they have set in their profile, and their join date.
