{% extends 'base.html' %}

{% block title %}
Your Profile
{% endblock %}

{% block content %}


    <div class="container">
        <div class="col s1 m6 14 center">
            <img class="profilePicture materialbox responsive-img" src="{{profile.profile_picture.url}}" alt="ProfilePic">
        </div>
    </div>

<div class = "container">  
            <div class="col s1 m6 14">   
                <h3>{{profile.name}}</h3>
                <h5>Current City: {{profile.current_city}}</h5>
                <h5>Member since: {{date}}</h5>
                <h3>My Posts</h3>
                    {% for post in posts %}
                        <a href="{%url 'post_detail' post.id%}">      
                            <h4>{{post}}</h4>
                            <img class = "materialbox responsive-img" width="30%" src="{{post.image.url}}" alt="PostPic">
                            <p class="flow-text">{{post.content}}</p>
                        </a>
                    {% endfor %} 
            </div>
</div>
<a href="{% url 'add_post'%}" class = "profile-buttons btn">Add new Post</a>
<a href="{% url 'edit_profile' profile.id %}" class = "profile-buttons btn">Edit Profile</a>
<script>
    $(document).ready(function(){
        $('.modal').modal();
        $('.materialbox').materialbox();
    });
</script>
{% endblock %}
