{% extends 'base.html' %}

{% block title %}
Your Profile
{% endblock %}

{% block content %}
<div class = "profileMain">
    <section class = "profileSection">
        <div class = "left">
            <a href="{% url 'add_post'%}" class = "btn">Add new Post</a>
        </div>
        <div class = "right">
            <img class = "profilePicture" src="{{profile.profile_picture.url}}" alt="ProfilePic">
            <h4 class = "profileName">{{profile.name}}</h1>
        </div>
    </section>
    <section class = "PostSection">
        <h2>{{profile.name}}'s Post</h2>
        <div class = "allPost">
            {% for post in posts %}
            <div class="card small">
                <h1>{{post}}</h1>
            </div>
            {% endfor%}
        </div>
       
    </section>
    
</div>

{% endblock %}