{% extends 'base.html' %}

{% block title %}
New Post
{% endblock %}

{% block content %}
<div class = "formBox">

    <h1>Edit Post</h1>
    <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <a href="{% url 'map_view'%}">Can't Find Your City?</a>
    <br><br>
    <button class="btn" type="submit">Edit Post</button>
    </form>
</div>
<script>
    const selectEl = document.getElementById('id_city');
    M.FormSelect.init(id_city);
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        autoClose: true
    }); 
</script>
{% endblock %}
